@import "tailwindcss";

@font-face {
    font-family: fontLight;
    src: url(../fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: fontBold;
    src: url(../fonts/Lausanne-500.woff2);
}
.runningText::-webkit-scrollbar{
    display: none;
}
.runningText{
    animation: moveText 10s linear  infinite ;
}

@keyframes moveText {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}


